Django==5.2.6
gunicorn==23.0.0
whitenoise==6.11.0
dj-database-url==3.1.0
psycopg2-binary==2.9.11
python-dotenv==1.2.1
arabic-reshaper==3.0.0
python-bidi==0.6.6
reportlab==4.4.4
openpyxl==3.1.5
pillow==11.3.0
