{% extends 'base.html' %}
{% block title %}إضافة منتج{% endblock %}

{% block content %}
<div class="container mt-4">

  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3 class="mb-0">➕ إضافة منتج</h3>
    <a href="{% url 'inventory:product_list' %}" class="btn btn-secondary btn-sm">↩ رجوع</a>
  </div>

  <div class="card shadow-sm">
    <div class="card-body">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">حفظ</button>
        <a href="{% url 'inventory:product_list' %}" class="btn btn-outline-secondary">إلغاء</a>
      </form>
    </div>
  </div>

</div>
{% endblock %}
